<div class="row">
	<div class="jumbotron">
	  <h1>TFRRS Explorer</h1>
	  <p>by Spencer Gardner</p>
	  
	</div>
</div>

<div class="row">
  <div class="col-sm-4">
  		<h1>Teams</h1>
		  <input tabindex="1" type="text" ng-model="teamFilter" placeholder="Filter by team name..." class="form-control" ng-change="selectedRoster = null"/>
		  <hr>

			<div style="max-height:500px; overflow: auto; border: 1px solid lightgray;" class="scroll-div">
			  <ul class="nav nav-pills nav-stacked">
			  	<li ng-repeat="team in data | filter:{text:teamFilter}" ng-click="getRoster(team.url, $index)" ng-class="{active: selectedRoster == $index}">
			  		<a href="">{{team.text}}</a>
			  	</li>  
				</ul>
			</div>

  </div>

  <div class="col-sm-4">
  	<h1>Athletes {{test}} </h1>
  	<input tabindex="2" type="text" ng-model="athleteFilter" placeholder="Filter by athlete name..." class="form-control" ng-change="selectedAthlete = null"/>
  	<hr>
  	<div style="max-height:500px; overflow: auto; border: 1px solid lightgray;" class="scroll-div">
  	<ul class="nav nav-pills nav-stacked">
		  	<li ng-repeat="athlete in athletes | filter:{name : athleteFilter}" ng-click="getStats(athlete.url, $index)" ng-class="{active: selectedAthlete == $index}">
		  		<a href="">{{athlete.name}}</a>
		  	</li>  
		</ul>
		</div>
  </div>


  <div class="col-sm-4">
  	<h1>Stats</h1>
  	<hr>
		<div id="athlete-info" ng-show="athleteData">
	  	<h3>{{athleteData.name}}</h3>
			<a href="/athlete/{{athleteData.tfrrs_id}}">
	  		<button type="button" class="btn btn-default">Raw JSON</button>
			</a>
			<h4>Bests</h4>
			<p ng-repeat="best in athleteData.bests">{{best.event}} - {{best.time}}</p>
			<h4>Races</h4>
			<p ng-repeat-start="race in athleteData.races">{{race.meet}}</p>
			<p ng-repeat-end> {{race.event}}: {{race.mark}}</p>
		</div>


  </div>
	

</div>
